@import 'partials/variables';

@import 'partials/common';

@import 'partials/utility';


/* Header */
#site_header {
    background-image: linear-gradient(to right, $laracast_light_primary_color, $laracast_dark_primary_color);

    nav {
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 1rem 1.875rem;

        &>img {
            cursor: pointer;
        }

        .center {
            ul>li {
                display: inline;
                list-style: none;
                padding: 0 1rem 0 1rem;
            }

            a {
                color: $laracast_light_grey_text_color;
                font-family: $laracast_poppins;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;
                padding: 0 0.3rem 1rem 0.3rem;

                &:hover {
                    color: $laracast_white;
                    border-bottom: 4px solid $laracast_white;
                    transition: 0.3s linear;
                }

                &.larabit_new {
                    position: relative;

                    &::after {
                        width: 100%;
                        height: 4px;
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        background: linear-gradient(90deg, $laracast_light_blue 64%, transparent 0, transparent 68%, $laracast_light_blue 0, $laracast_light_blue 76%, transparent 0, transparent 80%, $laracast_light_blue 0, $laracast_light_blue 88%, transparent 0, transparent 92%, $laracast_light_blue 0, $laracast_light_blue);
                        opacity: 0;
                        content: "";
                    }

                    &:hover {
                        border-bottom: none;
                        transition: .3s;

                        &::after {
                            opacity: 1;
                            transition: .4s;
                        }
                    }
                }
            }
        }

        .right {
            justify-content: space-between;
            align-items: center;

            img {
                background-color: rgba($laracast_white, 0.1);
                border-radius: 1rem;
                padding: 0.7rem;

                &:hover {
                    background-color: rgba($laracast_white, 0.25);
                    transition: 0.3s linear;
                    cursor: pointer;
                }
            }

            a {
                margin-left: 1.4rem;
                color: $laracast_white;
                font-family: $laracast_poppins;
                font-size: 13px;
                font-weight: 500;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                }

                &.get_started {
                    border: 1px solid $laracast_white;
                    padding: 0.3rem 0.75rem 0.3rem 0.75rem;
                    border-radius: 5rem;

                    &:hover {
                        background-color: $laracast_white;
                        color: $laracast_footer_blue;
                        text-decoration: none;
                        transition: .3s linear;
                    }
                }
            }
        }

    }
}


/* Main */
#site_main {

    /* Series */
    .type {
        font-family: $laracast_poppins;
        font-size: 0.625rem;
        font-weight: 700;
        color: $laracast_white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.4rem 1.4rem;
        border-radius: 5rem;
    }

    .name {
        display: block;
        margin: 1rem 0;
        font-family: $laracast_cabin;
        font-size: 1.625rem;
        font-weight: 400;
        color: $laracast_dark_text_color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .text {
        -webkit-line-clamp: 3;
        font-family: $laracast_poppins;
        font-size: 0.938rem;
        font-weight: 400;
        color: $laracast_grey_text_color;
        margin-bottom: 0.5rem;
    }

    .more_info {
        align-items: center;
        font-family: $laracast_poppins;
        font-size: 0.625rem;
        font-weight: 500;
        color: $laracast_light_text_color;
        margin: 3rem 0 1.5rem 0;

        .difficulty,
        .episodes,
        .duration {
            span {
                margin: 0 1rem 0 0.5rem;
            }
        }

        .difficulty {
            align-items: center;

            .lines {
                .block {
                    width: 0.5rem;
                    height: 0.25rem;
                    background-color: #c3cad0;
                    border-radius: 4px;
                    margin-bottom: 0.25rem;
                }

                .block:last-child {
                    margin-bottom: 0;
                }
            }

        }

        .episodes {
            a {
                color: $laracast_light_text_color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .start {
        display: inline;
        background-color: $laracast_light_grey;
        border: 1px solid $laracast_light_grey;
        border-radius: 5rem;
        padding: 0.4rem 3.5rem;

        a {
            font-family: $laracast_poppins;
            font-size: 0.9rem;
            font-weight: 500;
            color: $laracast_dark_text_color;
            text-decoration: none;

            span {
                vertical-align: 2.5px;
                padding-left: 0.2rem;
            }
        }

        &:hover {
            a {
                color: $laracast_footer_blue;
                cursor: default;
            }

            img {
                filter: invert(44%) sepia(98%) saturate(449%) hue-rotate(170deg) brightness(99%) contrast(91%);
            }

            border: 1px solid $laracast_footer_blue;
            transition: 0.2s linear;
        }
    }

    .thumb {
        img {
            width: 500px;
            position: absolute;
            top: -50px;
            right: -165px;
        }
    }

    .more>.card.bg_dark_blue_gradient {
        padding: 2rem 1.5rem 3rem 1.5rem;
    }

    .card.bg_dark_blue_gradient {

        h4 {
            text-align: center;
            margin-bottom: 0.75rem;
        }

        .grid {
            justify-items: center;
            grid-template-columns: auto auto auto auto auto;
            column-gap: 1.5rem;
            row-gap: 1.25rem;
            padding: 1.5rem 0 0 0;

            .cell {
                height: 186px;
                background-color: rgba($laracast_black, 0.03);
                border-radius: 1rem;
                padding: 0.5rem 1rem;
                text-align: center;

                img {
                    width: 65px;
                    padding: 0.25rem 0.25rem 0.5rem 0.25rem;
                }

                h5 {
                    -webkit-line-clamp: 1;
                }

                h6,
                p {
                    opacity: 0.5;
                }

                p {
                    -webkit-line-clamp: 3;
                    font-size: 0.65rem;
                    color: $laracast_white;
                    padding: 0.4rem 0 0.12rem 0;
                }

                .start_series {
                    display: none;
                    margin-top: -2.3rem;
                    background-color: rgba($laracast_white, 0.1);
                    border-radius: 5rem;
                    border: 1px solid rgba($laracast_white, 0.1);
                    padding: 0.3rem 0;
                    font-family: $laracast_poppins;
                    font-size: 0.82rem;
                    font-weight: 500;
                    color: $laracast_white;
                    text-decoration: none;

                    &:hover {
                        background-color: $laracast_white;
                        border: 1px solid $laracast_footer_blue;
                        color: $laracast_footer_blue;
                        cursor: default;
                        transition: 0.3s linear;
                    }

                }

                &:hover {
                    background-color: rgba($laracast_black, 0.1);

                    .start_series {
                        display: block;
                    }

                    p.hide {
                        visibility: hidden;
                    }

                    transition: 0.5s linear;
                }
            }
        }
    }

    .big_card {
        padding: 1rem 0 0 250px;

        a {
            height: 100px;
            width: 380px;
            color: $laracast_white;
            text-decoration: none;
            margin-right: 1.5rem;
            padding-right: 0;
            margin-bottom: 1rem;

            .img {
                background-color: rgba($laracast_black, 0.1);
                border-radius: 1rem;
                padding: 0.75rem 0.75rem 0.45rem 0.75rem;
                margin-right: 1rem;

                img {
                    width: 76px;
                    height: 76px;
                }
            }

            .info {
                padding-right: 1.5rem;

                h5 {
                    -webkit-line-clamp: 1;
                    margin-top: -0.25rem;
                    margin-bottom: 0.5rem;
                }

                p {
                    -webkit-line-clamp: 2;
                    font-size: 0.7rem;
                    opacity: .5;
                }
            }

            &:hover {
                background-color: rgba($laracast_black, 0.1);
                border-radius: 1rem;
                transition: 0.3s;

                .img {
                    background-color: rgba($laracast_black, 0);
                    transition: 0.3s;
                }
            }
        }
    }

    .trending {
        position: relative;

        .lary_trending {
            position: absolute;
            bottom: 0;
            left: 0;
            mix-blend-mode: luminosity;
            opacity: 0.5;
        }
    }

    .level_up {

        .journey_testing {
            width: 400px;
            position: absolute;
            left: 0;
        }

        .big_card {
            padding: 2rem 0 1rem 250px;

            a {
                width: 315px;
                margin-right: 1.5rem;
            }
        }
    }

    .whats_new {
        padding: 2rem;

        .journey_frameworks {
            width: 285px;
            position: absolute;
            top: 4rem;
            left: 1rem;
        }
    }

    .small_card {
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 1rem;
            padding: 1.25rem 1rem;
            text-align: center;

            .type {
                background-color: rgba($laracast_black, 0.1);
                font-size: 0.6rem;
                font-weight: 600;
                padding: 0.35rem 1.2rem;

                &:hover {
                    background-color: $laracast_white;
                    color: $laracast_dark_text_color;
                    transition: 0.3s;
                }
            }

            img {
                width: 96px;
                height: 96px;
            }

            .difficulty {
                font-size: 0.6rem;
                font-weight: 600;
                color: $laracast_white;

                .lines {
                    margin-top: 0.25rem;

                    .line {
                        display: inline-block;
                        width: 1.25rem;
                        height: 0.25rem;
                        border-radius: 0.25rem;
                        margin: 0 0.08rem;
                    }

                    .line_white {
                        background-color: $laracast_white;
                    }

                    .line_black {
                        background-color: rgba($laracast_black, .25);
                    }
                }
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: rgba($laracast_white, 0.1);
            padding: 1.25rem 1rem;
            position: relative;

            .name {
                font-size: 1.125rem;
                margin: 0;
            }

            .text {
                -webkit-line-clamp: 5;
                font-size: 0.813rem;
                margin: 1rem 0 2.5rem 0;
            }

            .more_info {
                margin: 0;
            }

            .start {
                position: absolute;
                bottom: 11px;
                background-color: #f6f6f6;
                border: 1px solid #f6f6f6;
                padding: 0.28rem 4.25rem;
                transition: 0.3s ease-in-out;
                opacity: 0;

                &:hover {
                    border: 1px solid $laracast_footer_blue;
                    cursor: pointer;
                }
            }
        }

        &:hover {
            cursor: pointer;

            .start {
                opacity: 1;
            }
        }
    }

    .double_card_left,
    .double_card_right {
        width: 50%;
        position: relative;
        padding-bottom: 1rem;

        &>img {
            width: 450px;
            position: absolute;
            top: -4rem;
        }

        &>div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 215px;
            height: 100%;

            .name {
                font-size: 1.125rem;
            }

            .text {
                -webkit-line-clamp: 5;
                font-size: 0.8rem;
            }

            .more_info {
                justify-content: center;
                gap: 2rem;
            }

            .start {
                display: block;
                font-size: 0.8rem;
                text-align: center;
                padding-top: 0.5rem 0 0.3rem 0;

                a span {
                    padding-left: 0;
                }
            }
        }
    }

    .double_card_left {
        &>img {
            left: -14rem;
        }

        &>div {
            margin-left: auto;
        }
    }

    .double_card_center {
        width: 1px;
        margin: 3rem;
        border: 1px solid rgba($laracast_black, 0.03);
    }

    .double_card_right {
        &>img {
            right: -14rem;
        }
    }

    .explore_topics_grid {
        height: 285px;
        overflow: hidden;
        grid-template-columns: auto auto auto auto auto;
        row-gap: 1rem;
        margin-top: 2rem;
    }

    .topic_card {
        height: 84px;
        min-width: 205px;
        background-color: $laracast_white;
        border: 1px solid rgba($laracast_light_text_color, 0.15);
        border-radius: 1rem;
        padding: 0.25rem 1rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        cursor: pointer;

        img {
            margin-right: 1rem;
        }

        h5 {
            font-weight: 500;
            color: $laracast_dark_text_color;
        }

        span {
            font-size: 0.6rem;
            color: $laracast_explore_topics_grey;

            &.dot {
                font-size: 0.834rem;
                padding: 0 0.3rem;
            }
        }
    }

    /* Show */
    .show {
        max-width: 1600px;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        border-radius: 1rem;

        .show_top {
            justify-content: space-around;
            align-items: center;
            padding: 2rem;

            img {
                width: 246px;
                height: 246px;
                margin-right: 7rem;
            }

            .txt {
                .desc {
                    max-width: 600px;
                    font-size: 0.9rem;
                    color: $laracast_white;
                    line-height: 1.5rem;
                    margin-bottom: 3rem;
                    margin-top: 2rem;
                }

                .series_buttons {
                    margin-top: 1.5rem;

                    a {
                        width: auto;
                        margin-right: 1rem;
                        border-radius: 5rem;
                        font-size: 0.83rem;
                        font-weight: 500;
                        text-decoration: none;
                        text-transform: uppercase;
                        padding: 0.65rem 2rem;
                        transition: 0.3s;

                        &.begin {
                            background-color: $laracast_white;
                            border-color: $laracast_white;
                            color: $laracast_black;

                            &:hover {
                                color: $laracast_footer_blue;
                            }
                        }

                        &.watchlist {
                            background: rgba($laracast_white, 0.2);
                            border-color: rgba($laracast_white, 0.3);
                            color: $laracast_white;

                            img {
                                width: 8px;
                                height: 11px;
                                margin-right: 0.25rem;
                            }

                            &:hover {
                                background-color: $laracast_white;
                                color: $laracast_black;
                            }
                        }
                    }

                }
            }

            .other {
                width: 340px;
                min-height: 373px;
                height: 1px;
                background-color: rgba($laracast_black, .1);
                border-radius: 1rem;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem 3rem;
                font-size: 0.65rem;
                color: rgba($laracast_white, 0.75);

                .circle_border {
                    width: 125px;
                    min-height: 125px;
                    justify-content: center;
                    align-items: center;
                    border: 7px solid rgba($laracast_black, 0.2);
                    border-radius: 100%;
                    margin-bottom: 1rem;

                    .circle {
                        width: 100px;
                        min-height: 100px;
                        justify-content: center;
                        align-items: center;
                        background-color: $laracast_white;
                        border-radius: 100%;
                        font-size: 2.4rem;
                        font-weight: 400;
                        color: $laracast_black;
                    }
                }

                h6 {
                    font-weight: 700;
                    color: rgba($laracast_white, 0.75);
                    text-transform: uppercase;
                }

                .latest_episode {
                    margin-bottom: 1rem;
                }

                .conclusion {
                    font-size: 1rem;
                    color: $laracast_white;
                    margin-bottom: 0.5rem;
                }

                .conclusion_text {
                    margin-bottom: 1rem;
                }

                .watch {
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba($laracast_white, .25);
                    border: 1px solid rgba($laracast_white, .25);
                    border-radius: 5rem;
                    padding-bottom: 0.58rem;
                    padding-top: 0.58rem;
                    font-size: 0.9rem;
                    font-weight: 700;
                    color: $laracast_white;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: 0.3s;

                    svg {
                        margin-right: 0.5rem;

                        path:nth-child(2) {
                            fill: $laracast_white;
                        }
                    }

                    &:hover {
                        background-color: $laracast_white;
                        color: $laracast_footer_blue;

                        svg {
                            path:nth-child(2) {
                                fill: $laracast_footer_blue;
                            }
                        }
                    }
                }
            }
        }

        .show_bottom {
            background-color: rgba($laracast_black, 0.1);
            border-radius: 0 0 1rem 1rem;
            padding: 0.938rem 1.875rem;

            ul {
                justify-content: space-between;
                list-style: none;
                font-size: 0.8rem;
                font-weight: 500;
                color: $laracast_white;

                .li_left {
                    align-items: center;

                    div {
                        align-items: center;

                        .lines {
                            .line {
                                display: inline-block;
                                width: 7px;
                                height: 11px;
                                border-radius: 0.25rem;
                                margin-left: 0;
                                margin-right: 0;
                            }

                            .line_white {
                                background-color: $laracast_white;
                            }

                            .line_black {
                                background-color: rgba($laracast_black, .25);
                            }
                        }

                        svg>path {
                            opacity: 1;
                            fill: $laracast_white;
                        }

                        span {
                            margin-left: 0.5rem;
                            margin-right: 1rem;
                        }

                        &.li_type {
                            border: 1px solid hsla(0, 0%, 100%, .25);
                            border-radius: 0.5rem;
                            padding: 0.15rem 0.75rem;

                            a {
                                color: $laracast_white;
                                text-decoration: none;
                                text-transform: capitalize;
                                transition: 0.3s;
                            }

                            &:hover {
                                background-color: $laracast_white;

                                a {
                                    color: $laracast_footer_blue;
                                }
                            }
                        }
                    }
                }

                .li_right {
                    a {
                        text-decoration: none;

                        img {
                            width: 25px;
                            height: 25px;
                            margin-left: 0.5rem;

                            &:hover {
                                filter: opacity(0.5);
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* Footer */
#site_footer {
    background-image: radial-gradient(circle at 1% 1%, $laracast_footer_blue, $laracast_footer_dark_blue);

    &>section {
        background-image: url(../img/footer_gang.svg);
        background-repeat: no-repeat;
        background-position: top 0 right -200px;
        padding-top: 0;
        padding-bottom: 0;

        &>.footer {
            max-width: 1200px;
            margin: auto;

            .top_footer {
                width: 50%;
                margin: auto;
                padding: 80px 0;
                position: relative;

                .mic {
                    position: absolute;
                    top: 0;
                    left: -9.5rem;
                }

                h2 {
                    text-align: center;
                    margin-bottom: 2rem;
                }

                .form {
                    justify-content: center;

                    input {
                        width: 50%;
                        border-radius: 1.25rem;
                        border: none;
                        font-family: $laracast_poppins;
                        font-size: 0.8rem;
                        padding: 0.75rem 1rem;
                        margin-right: -2rem;

                        &:focus-visible {
                            outline: none;
                        }
                    }

                    button.subscribe {
                        width: 8rem;
                        background-color: $laracast_footer_blue;
                        border-radius: 1.25rem;
                        border: none;
                        font-family: $laracast_poppins;
                        font-size: 0.8rem;
                        font-weight: 500;
                        color: $laracast_white;
                        text-align: right;
                        text-transform: uppercase;
                        padding: 0.75rem 2rem;
                        cursor: pointer;

                        &:hover {
                            background-color: $laracast_footer_opaque_blue;
                            transition: background-color .3s;
                        }
                    }
                }
            }

            .bottom_footer {
                padding-bottom: 2rem;
                border-bottom: 1px solid hsla(0, 0%, 100%, .1);

                .about {
                    width: 40%;
                    margin-right: auto;

                    &>img {
                        width: 232px;
                        margin-bottom: 0.75rem;
                    }

                    p {
                        font-weight: 400;
                        color: $laracast_white;
                        line-height: 1.7;
                        margin-bottom: 2rem;
                    }

                    .social {
                        a {
                            margin-right: 1rem;

                            &:last-of-type {
                                margin-right: 0;
                            }

                            img {
                                width: 1.5rem;
                                margin-right: 1rem;
                                transition: .3s;

                                &:hover {
                                    filter: invert(100%);
                                }
                            }
                        }
                    }
                }

                .learn,
                .discuss,
                .extras {
                    width: 16.66667%;

                    h5 {
                        font-size: 0.938rem;
                        text-transform: uppercase;
                        margin-bottom: 1.4rem;
                    }

                    ul {
                        list-style: none;
                        line-height: 1.7;

                        a {
                            color: $laracast_footer_text_grey;
                            text-decoration: none;
                            transform: 0.3s;

                            &:hover {
                                color: $laracast_white;
                            }
                        }
                    }
                }
            }

            .credits {
                width: 50%;
                margin: auto;
                font-family: $laracast_poppins;
                font-size: 0.8rem;
                font-weight: 400;
                color: $laracast_footer_text_grey;
                text-align: center;
                line-height: 1.5rem;
                padding: 1rem 0;

                a {
                    font-weight: 700;
                    color: $laracast_footer_text_grey;
                    text-decoration: none;

                    &:hover {
                        color: $laracast_white;
                        text-decoration: underline;
                        transition: .3s;
                    }
                }
            }
        }
    }
}


/* Media Query */
@media screen and (max-width: 1100px) {

    /* Header */
    #site_header {

        nav {
            .center {
                margin-left: 2rem;
                margin-right: auto;

                ul>li {
                    padding: 0 0.3rem 0 0.3rem;
                }

                a {
                    &.active {
                        border-bottom: none;
                    }

                    &:hover {
                        color: $laracast_white;
                        border-bottom: none;
                        transition: 0.3s linear;
                    }

                    &.larabit_new>span.new {
                        display: none;
                    }

                    &.larabit_new:hover {
                        &::after {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    /* Main */
    #site_main {
        .thumb>img {
            max-width: 100%;
            right: -225px;
        }

        .trending {
            .lary_trending {
                display: none;
            }

            .big_card {
                padding: 1rem 0 0 0px;

                a {
                    width: 330px;
                }
            }
        }

        .double_card_left,
        .double_card_right {
            &>img {
                max-width: 100%;
                width: 400px;
                top: -2.7rem;
            }

            &>div {
                width: 215px;

                .more_info {
                    gap: 1rem;
                }
            }
        }

        .double_card_left {
            &>img {
                left: -15rem;
            }
        }

        .double_card_center {
            margin: 0 3rem;
        }

        .double_card_right {
            &>img {
                right: -15rem;
            }
        }

        .small_cards {
            column-gap: 1rem !important;

            .small_card {
                .right .start {
                    width: 85%;
                    padding: 0.28rem 0;
                    text-align: center;
                }

                .more_info {
                    justify-content: space-between;

                    .episodes img,
                    .duration img {
                        margin-right: 0.5rem;
                    }

                    .episodes span,
                    .duration span {
                        margin: 0;
                    }
                }
            }
        }

        .level_up,
        .whats_new {

            .journey_testing,
            .journey_frameworks {
                display: none;
            }

            .big_card {
                justify-content: space-between;
                padding: 1rem;

                a {
                    width: 47%;
                    margin-right: 0;
                }
            }
        }

        .explore_topics_grid {
            height: 285px;
            overflow: hidden;
            grid-template-columns: auto auto auto auto;
        }
    }
}

@media (max-width: 990px) {

    /* Header */
    #site_header {

        nav {
            .center {
                margin-left: 1rem;

                li:last-child {
                    display: none;
                }
            }

            .right a.get_started {
                display: none;
            }
        }
    }

    /* Main */
    #site_main {
        .col {
            width: 75%;


            .name {
                font-size: 1.25rem;
            }

            .text {
                font-size: 0.85rem;
            }

            .more_info {
                display: none;
            }
        }

        .thumb {
            img {
                right: -310px;
            }
        }

        .card.bg_dark_blue_gradient .grid {
            grid-template-columns: auto auto;
        }

        .trending,
        .level_up,
        .whats_new {
            padding: 1.5rem;

            .big_card {
                justify-content: space-between;
                padding: 0;

                a {
                    width: 49%;
                    margin-right: 0;

                    .info {
                        padding-right: 1rem;
                    }
                }
            }
        }

        .double_card_left,
        .double_card_right {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 0;
            margin: -0.5rem 0;

            img {
                position: relative;
                top: 0;
                left: 0;
                right: 0;
            }

            &>div {
                width: 100%;
                justify-content: flex-start;
                margin: 0;

                .more_info {
                    margin: 1rem 0 1.5rem 0;
                }
            }
        }

        .double_card_left>img {
            margin-top: -200px;
            margin-bottom: 1.5rem;
        }

        .double_card_right {
            &>img {
                order: 2;
                margin-top: 1.5rem;
                margin-bottom: -200px;
            }

            &>div {
                .name {
                    margin-top: 0;
                }
            }
        }

        .small_cards {
            margin-top: 2rem;
            grid-template-columns: auto !important;
            row-gap: 1.5rem;

            .small_card {
                max-width: 650px;
                margin: auto;

                .left {
                    cursor: pointer;
                }

                .more_info {
                    justify-content: start;
                    gap: 1rem;
                }

                &:hover {
                    cursor: default;

                    .start {
                        opacity: 0;
                    }
                }
            }
        }

        .explore_topics_grid {
            grid-template-columns: auto auto auto;
        }
    }

    /* Footer */
    #site_footer {
        &>section>.footer {
            .top_footer {
                width: 80%;

                .mic {
                    width: 80px;
                    left: -4rem;
                }
            }

            .bottom_footer {
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: auto;

                .about {
                    max-width: 30rem;
                    width: 100%;
                    margin: auto;

                    .social {
                        margin-bottom: 2rem;

                        a {
                            margin-right: 2rem;

                            &:last-of-type {
                                margin-right: 0;
                            }

                            img {
                                width: 30px;
                            }
                        }
                    }
                }

                .learn,
                .discuss,
                .extras {
                    max-width: 30rem;
                    width: 100%;
                    margin: auto;

                    h5 {
                        margin-bottom: 0.5rem;
                    }

                    ul {
                        margin-bottom: 2rem;

                        &>li {
                            display: inline;
                            font-weight: 500;

                            &:not(:last-child):after {
                                color: $laracast_footer_text_grey;
                                content: " \B7";
                                font-size: 1.7rem;
                                line-height: 1;
                                margin-left: 2px;
                                margin-right: 4px;
                                vertical-align: sub;
                            }
                        }
                    }
                }
            }

            .credits {
                font-size: 0.938rem;

                p:first-child {
                    padding-bottom: 1rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    /* Common */
    section {
        padding: 20px;
    }

    /* Header */
    #site_header {
        nav {
            .center {
                display: none;
            }

            .right {
                img {
                    width: 22px;
                    background-color: transparent;
                    padding: 0;
                }

                a {
                    display: none;
                }
            }
        }
    }

    /* Main */
    #site_main {
        .card>span.d_f {
            flex-direction: column;
        }

        .large {
            order: 2;
            height: auto;
            justify-content: start;
            align-items: center;
            text-align: center;
            margin: -0.5rem -1.5rem;

            .col {
                width: 100%;

                .name {
                    font-size: 1.167rem;
                }

                .text {
                    font-size: 0.788rem;
                }

                .more_info {
                    display: flex;
                    justify-content: center;
                    font-size: 0.583rem;
                    margin: 1rem 0 1.5rem 0;
                }
            }

            .start a {
                font-size: 0.788rem;
            }
        }

        .thumb {
            order: 1;
            text-align: center;
            margin-top: -215px;

            img {
                position: relative;
                top: 0;
                right: 0;
                margin-bottom: 2rem;
            }
        }

        .card.bg_dark_blue_gradient .grid {
            grid-template-columns: auto;

            .cell {
                width: 100%;

                p.hide.clamp {
                    max-width: 30rem;
                    margin: auto;
                }


                &:hover {
                    background-color: rgba($laracast_black, 0.1);

                    .start_series {
                        display: none;
                    }

                    p.hide {
                        visibility: visible;
                    }

                    cursor: pointer;
                }
            }
        }

        .trending,
        .level_up,
        .whats_new {

            .big_card {

                a {
                    width: 100%;
                }
            }
        }

        .card>div.d_f {
            flex-direction: column;
            align-items: center;
        }

        .double_card_left,
        .double_card_right {
            width: 100%;
            max-width: 500px;

            &>img {
                width: 500px;
                max-width: 100%;
            }

            &>div {
                align-items: center;

                a.name {
                    font-size: 1.05rem;
                }

                p.text {
                    font-size: 0.788rem;
                }

                .more_info a {
                    font-size: 0.583rem;
                }

                .start {
                    width: auto;

                    a {
                        font-size: 0.788rem;
                    }
                }
            }
        }

        .double_card_center {
            width: 100%;
            margin: 2rem;
        }

        .explore_topics_grid {
            grid-template-columns: auto;
        }
    }

    /* Footer */
    #site_footer {
        &>section {
            background-image: none;

            &>.footer {
                .top_footer {
                    width: 100%;
                    padding: 4rem 0 3rem 0;

                    .mic {
                        left: -1rem;
                    }

                    h2 {
                        font-size: 1.488rem;
                    }

                    &>div.form {
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;
                        text-align: center;

                        input,
                        button.subscribe {
                            width: 60%;
                            text-align: center;
                            margin: 0;
                        }
                    }
                }

                .bottom_footer {
                    padding-bottom: 0;

                    .about p,
                    .learn ul>li>a,
                    .discuss ul>li>a,
                    .extras ul>li>a {
                        font-size: 0.933rem;
                    }
                }

                .credits p {
                    font-size: 0.875rem;

                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {}
