/* Colors */
$laracast_light_primary_color: #5b79a2;
$laracast_dark_primary_color: #2e4469;
$laracast_background_color: #f7f8fc;

$laracast_dark_text_color: #22292f;
$laracast_grey_text_color: #4d545d;
$laracast_light_grey_text_color: #a5b2c6;
$laracast_light_text_color: #8795a1;

$laracast_light_red: #f44881;
$laracast_red: #ec454f;

$laracast_light_purple: #b372bd;
$laracast_purple: #8b60ed;

$laracast_light_yellow: #ffc63c;
$laracast_yellow: #f19a1a;

$laracast_light_blue: #21c8f6;
$laracast_blue: #637bff;

$laracast_green: #1aab8b;
$laracast_dark_green: #45957b;

$laracast_light_grey: #ededed;
$laracast_dark_grey: #333;
$laracast_black: #000;
$laracast_white: #fff;

$laracast_footer_light_blue: #1d56bf;
$laracast_footer_dark_blue: #1645ae;
$laracast_footer_opaque_blue: #2779bd;
$laracast_footer_blue: #328af1;
$laracast_footer_text_grey: #9fc1fd;


/* Fonts */
$laracast_poppins: 'Poppins',
sans-serif;
$laracast_cabin: 'Cabin',
sans-serif;
